.button-orange {
  display: inline-block;
  background: none;
  border: thin solid #FA9917;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #FA9917;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center; }
  .button-orange:hover {
    background: #FA9917;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none; }

.video-button {
  opacity: 0;
  position: absolute;
  bottom: 8%;
  background: none;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  color: #4A4A4A;
  color: #FFFFFF;
  transition: All 1s ease;
  -webkit-transition: All 1s ease;
  -moz-transition: All 1s ease;
  -o-transition: All 1s ease; }
