//Text

@mixin text-styling ($font, $weight, $size, $color){
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin text-class ($font, $weight, $size, $size-mobile){
  @include text-styling($font, $weight, $size);
  @include mobile{
    font-size: $size-mobile;
  }
}

//Other Mixins

@mixin margin-left{
  margin-left: 50%;
  transform: translateX(-50%);
}

//Responsive
@mixin extra-small {
  @media (max-width: #{$media-phone - 1px}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$media-phone}) and (max-width: #{$media-tablet - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$media-tablet}) and (max-width: #{$media-desktop - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$media-desktop}) and (max-width: #{$media-desktop - 1px}) {
    @content;
  }
}

@mixin extra-large {
  @media (min-width: #{$media-extra-large}) {
    @content;
  }
}

@mixin custom($min, $max) {
  @media (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

@mixin custom-min($breakpoint){
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin custom-max ($breakpoint){
  @media (max-width: #{$breakpoint}) {
    @content;
  }
}

//Project Related

//Background-Image
@mixin background-image($image, $width, $height){
  background: url($image) no-repeat;
  -webkit-background-size: $width $height;
  background-size: $width $height;
  height: $height;
  width: $width;
}
