@import 'mixins.scss';
@import 'variables.scss';

html,
body {
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h1{

}

h2{
  @include text-styling($primary-font, $bold, 3rem, $blue);
}

h3{
  @include text-styling($secondary-font, $bold, 2rem, $orange);

}

h4{

}

h5{

}

p{
  @include text-styling($secondary-font, $regular, 1rem, $darkgrey);
}

.background-number{
  @include text-styling($secondary-font, $bold, 10rem, $white);
  opacity: 0.5;
}

.offcanvas-link{
  @include text-styling($primary-font, $bold, 3rem, $white);
}