@import 'mixins.scss';
@import 'variables.scss';

html,
body {
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h1{
  @include text-styling($primary-font, $bold, 3rem, $blue);
}

.headline2{
  @include text-styling($primary-font, $bold, 2rem, $blue);

  @include custom-max(1075px){
    font-size: 1.5rem;
  }

  @include custom-max(360px){
    font-size: 1rem;
  }
}

.headline3{
  @include text-styling($secondary-font, $bold, 2rem, $orange);
  text-align: center;

  @include custom-max(500px){
    font-size: 1.5rem;
  }
}

h4{

}

h5{

}

p{
  @include text-styling($secondary-font, $regular, 1rem, $darkgrey);

  @include custom-max(360px){
    font-size: 0.9rem;
  }
}

.background-number{
  @include text-styling($secondary-font, $bold, 10rem, $white);
  opacity: 0.5;
}

.offcanvas-link{
  @include text-styling($primary-font, $bold, 5rem, $white);
  text-align: right;
  padding: 1rem 2rem;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);

  &:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
    -ms-transform: scale(1.025);
  }

  @include custom-max(450px){
    font-size: 3rem;
  }

  @include custom-max(340px){
    font-size: 2rem;
  }
}

.hero-headline{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include text-styling($primary-font, $bold, 3rem, $blue);
  width: 100%;
  text-align: center;
}

.background-number{
  position: absolute;
  @include text-styling($secondary-font, $boldest, 50rem, $white);
  font-weight: 900;
  opacity: 0.5;
  line-height: 575px;
}