//Colors
$white: #FFFFFF;
$black: #000000;
$orange: #FA9917;
$light-grey: #EEEEEE;
$blue: #3399FF;


//Textstyles
$primary-font: 'Playfair Display', Lora, serif;
$secondary-font: 'Raleway', Helvetica, sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

//Responsive
$media-large: 1024px;
$media-tablet: 768px;
$media-small: 300px;
$media-smaller: 500px;
$media-extra-small: 300px;
$media-extra-large: 1600px;
