//Colors
$white: #FFFFFF;
$black: #000000;
$orange: #FA9917;
$light-grey: #EEEEEE;
$blue: #3399FF;
$darkgrey: #4A4A4A;

//Textstyles
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Raleway', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$boldest: 900;

//Responsive
$media-extra-large: 1200px;
$media-desktop: 992px;
$media-tablet: 768px;
$media-phone: 576px;
